@page
@model LibrarySystem.Pages.AllBooksModel
@{
    ViewData["Title"] = "All Books";
}
@using System.Linq

<h1>Book Categories</h1>

<div class="m-b-30">
    <div class="form-group search_form_group">
        <form action="" method="GET">
            <input style="height: 55px;" placeholder="Search for category" type="text" class="form-control input-lg " name="search" required="" autocomplete="off" value="">
            <div class="btn-div">
                <button class="btn btn-md btn-default"> <i class="fa fa-search"> </i> </button>
            </div>
        </form>
    </div>
</div>


